---
import Layout from '../../layouts/default.astro'
const posts = await Astro.glob('../../content/*.md'); // returns an array of posts that live at ./src/pages/post/*.md
---
<Layout>
  <div class="flex flex-wrap flex-row overflow-auto">
    {posts.slice(0, 3).map((post) => (
      <article class="mt-5 cursor-pointer flex-shrink px-4 w-screen md:w-1/3 lg:px-6 wow fadeInUp" >
        <div class="justify-center">
            <div class="py-2 rounded-lg w-96 text-gray-900 bg-white">
              <img src={post.frontmatter.img} alt="blog" class="justify-center mx-4 w-11/12 rounded-lg">
              <div class="px-6 py-2 w-full rounded-t-lg">
                  <p class="text-xl font-extrabold mb-2">
                    { post.frontmatter.title }
                  </p>
                  <p class="border-b pb-2">
                    { post.frontmatter.description }
                  </p>
                  <a href={post.url}>Read more</a>
              </div>
            </div>
          </div>
      </article>
    ))}
    </div>
</Layout>