---
import Layout from '../../layouts/default.astro'
const posts = await Astro.glob('../../content/*.md'); // returns an array of posts that live at ./src/pages/post/*.lg

const title = 'Rijal bin husen blogs';
const description = 'What ever that ibin husen written';
const permalink = Astro.site.href;
---
<Layout title={title} description={description} permalink={permalink}>
  <div class="flex flex-wrap flex-row overflow-auto">
    {posts.slice(0, 3).map((post) => {
      // the url to the blog path
      // split by /
      const splitBySlashFilePath = post.file.split('/')
      // pick the last string from the splitter
      const pickTheLastFilePath = splitBySlashFilePath.pop()
      // split by .
      const splitTheLastFilePathByDot = pickTheLastFilePath.split('.')
      // pick the first one
      const href = splitTheLastFilePathByDot.shift();
      return (
        <a href={'/blog/'+href}>
      <article class="article mt-5 cursor-pointer flex-shrink lg:px-4 lg:w-1/3 lg:px-6 wow fadeInUp" >
        <div class="justify-center">
            <div class="py-2 rounded-lg lg:w-96 text-gray-900 bg-white">
              <img src={post.frontmatter.img} alt="blog" class="justify-center mx-4 w-11/12 rounded-lg">
              <div class="px-6 py-2 w-full rounded-t-lg">
                  <p class="text-xl font-extrabold mb-2">
                    { post.frontmatter.title}
                  </p>
                  <p class="border-b pb-2">
                    { post.frontmatter.description }
                  </p>
              </div>
            </div>
          </div>
      </article>
      </a>
      )
    })
  }
    </div>
</Layout>