p a {
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: pink;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.1rem;
}

.caption {
    color: gray;
}

.heading {
    text-transform: uppercase;
}

.heading::after {
    content: '';
    border-bottom: 5px solid pink;
    width: 80%;
    display: block;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}