---
import Layout from '../layouts/default.astro'

const title = 'Rijal bin husen website';
const description = 'The landing page that you would land';
const permalink = Astro.site.href;

---
<Layout title={title} description={description} permalink={permalink}>
  <section class="flex flex-wrap md:justify-center md:text-center body-section">
    <div class="break-words md:px-9 md:mt-36 mt-28 md:w-6/12">
      <h1 class="text-5xl mb-3">Hello there! Im</h1>
      <p class="font-bold mb-8 text-3xl">Rijal bin Husen</p>
      <p class="mb-3 text-xl">I love everything about innovation, <br>especially innovations that benefit a lot of people.</p>
      <p class="">That's why I love coding, because a combination of several codes can create awesome applications, and awesome applications can be benefit for many people.</p>
      <!-- <section class="flex mt-8 md:justify-center">
        <button class="bg-opacity-50 transform transition duration-300 ease-in-out hover:-translate-y-2 bg-red-200 block border-r-0 cursor-pointer font-bold font-mono hover:bg-gray-200 leading-tight mr-2 px-3 py-2 rounded-l rounded-r">Hire me!</button>
        <button class="bg-opacity-50 transform transition duration-300 ease-in-out hover:-translate-y-2 bg-red-200 block border-r-0 cursor-pointer font-bold font-mono hover:bg-gray-200 leading-tight px-3 py-2 rounded-l rounded-r">Get portofolio</button>
      </section> -->
    </div>
  </section>
</Layout>