---
import Layout from "../layouts/default.astro";


const title = "Rijal bin husen rate card";
const description = "Our rate card is a comprehensive guide to our pricing. We have a number of services, so you're sure to find what you need at a price that fits your budget. Contact us today to learn more!";
const permalink = Astro.site + '/rate-card';
---

<Layout title={title} description={description} permalink={permalink}>
    <section >
        <div class="rate-card-main">
            <div class="rate-card-header">
                <h2>Powered by the expertise that fits your needs</h2>
                <p>I focus on markets where technology, innovation and ideas can unlock long-term value and drive economic growth.</p>
            </div>
            <!-- <div class="justify-center space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"> -->
            <div class="rate-card-list">
                <!-- Pricing Card -->
                <div class="rate-card-card">
                    <h3 class="mb-4 text-2xl font-semibold">Express</h3>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr text-5xl font-extrabold">$6</span>
                        <span class="text-gray-500 text-gray-400">/ Hours</span>
                    </div>
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Fix 1 fundamental error or bug.</span>
                        </li>
                    </ul>
                    <!-- <p>Fix 1 fundamental error or bug.</p> -->
                </div>
                <!-- Pricing Card -->
                <div class="rate-card-card">
                    <h3 class="mb-4 text-2xl font-semibold">Standart</h3>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$2</span>
                        <span class="text-gray-500 text-gray-400" text-gray-400>/ Hours</span>
                    </div>
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Translate your ideas into designs.</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Translate the designs into application.</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Deploy the application online.</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Help and support for 1 months after.</span>
                        </li>
                    </ul>
                    <p >Build application from scratch with full support for 1 months after application deployed to the edge.</p>
                </div>
                <!-- Pricing Card -->
                <div class="rate-card-card">
                    <h3 class="mb-4 text-2xl font-semibold">Enterprise</h3>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$4</span>
                        <span class="text-gray-500 text-gray-400">/ Hours</span>
                    </div>
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Translate your ideas into designs.</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Translate the designs into application.</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Deploy the application online.</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Long term support.</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500 text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span>Help manage content.</span>
                        </li>
                    </ul>
                    <p>Build application from scratch with long term support.</p>
                </div>
            </div>
            <div class="cta">
                
                <a href="mailto:rijal@rijalbinhusen.cloud" target="_blank">Contact us via e-mail</a>

            </div>
        </div>
  </section>
</Layout>

<style>
    section {
        /* background-color: rgb(243 244 246); */
        margin-top: 2rem;
        border-radius: .5rem;
        border-top: dashed .23rem pink;
        padding-bottom: 1.5rem;
        border-top: 0;
    }

    section p {
        font-weight: 300;
        color: #757575;

    }

    .rate-card-main {
        padding-top: 8px;
        padding-right: 4px;
        padding-left: 4px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        justify-content: center;
    }

    .rate-card-header {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
        text-align: center;
        margin-bottom: 16px;
        padding-right: .32rem;
        padding-left: .32rem;
    }

    .rate-card-header h2 {
        margin-bottom: 16px;
        font-size: 24px;
        letter-spacing: -0.16px;
        font-weight: 800;
        color: #2a2a2a;
    }

    .rate-card-list {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .rate-card-card {
        padding: 24px;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        color: #2a2a2a;
        background-color: #f5e4e4;
        border-radius: 10px;
        border: 1px solid #f5e4e4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;
        justify-items: center;
    }

    .rate-card-card h3 {
        color: black;
        font-weight: bolder;
    }

    .rate-card-card p {
        color: black;
        font-weight: normal;
    }

    .cta {
        display: flex;
        justify-content: center;
    }

    .cta a {
        font-weight: 500;
        border-radius: .23rem;
        border: solid pink 1px;
        font-size: 14px;
        padding: 12px 20px;
        text-align: center;
    }

    .cta a:hover {
        background-color: pink;
    }

    .cta a:focus {
        box-shadow: 0 0 0 0.2rem #0065ca;
        outline: none;
    }

    @media (min-width: 768px) {
        section {
            margin-top: 8rem;
            border-top: dashed .23rem pink;
        }
        section p {
            font-size: 16px;
        }

        .rate-card-main {
            padding-top: 16px;
            padding-right: 6px;
            padding-left: 6px;
        }

        .rate-card-header {
            margin-bottom: 24px;
        }

        .rate-card-list {
            display: flex;
            justify-content: center;
            gap: 12px;
        }

        .rate-card-card {
            padding: 16px;
            max-width: 340px;
        }
    }
</style>