---
import { Icon } from "astro-icon";
---

<footer>
  <div>
    <p>
      Powered by
      <a
        href="https://astro.build"
        target="_blank"
        rel="noopener"
        class="inline-block"
      >
        
        <Icon name="vscode-icons:file-type-astro" width="28" class="inline" />
        Astro
      </a>
      and
      <a
        href="https://vuejs.org/"
        target="_blank"
        rel="noopener"
        class="inline-block"
      >
       <Icon name="logos:vue" width="28" class="inline" />
        Vue
      </a>.
    </p>

    <p>
      Code available on
      <a
        href="https://github.com/rijalBinHusen/portofolio-2"
        target="_blank"
        rel="noopener"
      >
        <Icon name="fa-brands:github" width="28" class="inline" />
        Github
      </a>.
    </p>

    <p>
      Deployed at
      <a href="https://www.netlify.com/" target="_blank" rel="noopener">
        <Icon name="vscode-icons:file-type-netlify" width="28" class="inline" />
        Netlify
      </a>.
    </p>

    &copy;{new Date().getFullYear()} Rijal bin Husen.
  </div>

  <style>
    footer {
      color: gray;
      font-size: 1.2rem;
      margin: 1rem auto;
      max-width: 1400px;
      padding-top: 5vmax;
      text-align: center;
      margin-top: 10vh;
      margin-bottom: 20vh;
      border-top: solid;
      border-style: dotted;
      border-color: pink;
      border-top-width: 0.6rem;
    }

    @media (max-width: 768px) {
      footer {
        margin-top: 5vh;
      }
     }
  </style>
</footer>
