---
import { Icon } from "astro-icon";
import "../styles/global.css";
---

<footer>
  <div>
    <p>
      Powered by
      <a
        href="https://astro.build"
        target="_blank"
        rel="noopener"
        class="inline-block"
      >
        <img
          src="/favicon.ico"
          alt="icon"
          class="inline-block"
          style="width:28px"
        />
        Astro
      </a>
      and
      <a
        href="https://vuejs.org/"
        target="_blank"
        rel="noopener"
        class="inline-block"
      >
        <img
          src="/faviconVue.ico"
          alt="icon"
          class="inline-block"
          style="width:28px"
        />
        Vue
      </a>.
    </p>

    <p>
      Code available on
      <a
        href="https://github.com/rijalBinHusen/portofolio-2"
        target="_blank"
        rel="noopener"
      >
        <Icon name="fa-brands:github" width="28" class="inline" />
        Github
      </a>.
    </p>

    &copy; {new Date().getFullYear()} Rijal bin Husen.
  </div>

  <style>
    footer {
      color: gray;
      font-size: 1.2rem;
      margin: 1em auto;
      max-width: 1400px;
      padding-top: 5vmax;
      text-align: center;
      margin-bottom: 20vh;
    }
  </style>
</footer>
