<footer>
  <span>
    &copy; {new Date().getFullYear()} Rijal bin Husen.
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    Code available in <a href="https://github.com/rijalBinHusen/portofolio-2" target="_blank" rel="noopener">Github</a>.
  </span>
</footer>

<style>
  footer {
    color: darkgray;
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
  }
</style>
