---
   import { Icon } from "astro-icon";
   const navs = [
      { title: 'About', route: '/', icon: 'mdi:account'},
      { title: 'Blog', route: '/blog', icon: 'fa-brands:blogger'},
      { title: 'Github repo', route: '/projects', icon: 'fa-brands:github'}
   ]
   
   const currentPath = Astro.url.pathname.split('/')[1];
---
<script>
   import { isMobile } from "../utils/isMobile"

   import { toggleElement } from "../utils/toggleElement";
   // github button at the right of screen when large screen
   const githubButton = document.getElementById("github-button");
   // navigation button only show when large screen
   const navigation = document.getElementById("navigation");
   // toggle navigation button when in < medium screen
   const menuToggle = document.getElementById("menu-toggle");
   // navigation status, isShow or hide
   let isNavigationShow = true;
   // is mobile

   const showNavigation = (bool: boolean) => {
      // JIka mobile sembunyikan #github-button dan #navigation tampilkan menu-toggle
      if(bool) {
         // show navigation
         toggleElement(navigation, true)
         // dont show github button when in mobile mode
         if(!isMobile()) {
            toggleElement(githubButton, true)
         }
         // hide toggle menu
         toggleElement(menuToggle, false)
         menuToggle.removeEventListener('click', toggleNavigation)
      } else {
         // hide navigation and github button
         toggleElement(navigation, false)
         toggleElement(githubButton, false)
         toggleElement(menuToggle, true)
         menuToggle.addEventListener('click', toggleNavigation)
      }
      isNavigationShow = !bool
   }

   const toggleNavigation = () => {
      showNavigation(isNavigationShow)
      setTimeout(() => showNavigation(false), 3000)
   }

   const checkScreen = () => {
      isMobile()
         ? showNavigation(false)
         : showNavigation(true)
   }
   
   // run the mobile device detector
   checkScreen()
   window.addEventListener('resize', checkScreen)

</script>
<nav id="header" class="z-30 top-10 shadow-lg border-b border-gray-300 py-1 rounded-lg">
     <div class="flex items-center justify-between mt-0 px-6 py-2">
      <!-- Menu toggle -->
       <Icon id="menu-toggle" name='mdi:menu' width="32" class="inline cursor-pointer" />
       <!-- Menu toggle -->
        <div id="navigation" class="order-1 lg:flex lg:items-center lg:w-auto order-3 lg:order-1" id="menu">
             <!-- Navigation link -->
            <nav>
               <ol class="lg:flex items-center justify-between text-base text-black pt-4 lg:pt-0">
                     {navs.map((nav) => (
                     <li>
                        <a 
                           href={nav.route} 
                           class={`
                                    inline-block 
                                    no-underline 
                                    hover:text-blue-600 
                                    font-medium text-lg 
                                    py-2 px-4 lg:-ml-2
                                    ${'/'+currentPath === nav.route 
                                       ? 'bg-red-200 bg-opacity-50 rounded-lg' 
                                       : ''}
                                 `}
                        >
                           {nav.title}
                           <Icon name={nav.icon} width="18" class="inline" />
                        </a>      
                     </li>
                  ))}
               </ol>
            </nav>
            <!-- Navigation link -->
         </div>
        
        <div id="github-button" class="order-2 lg:order-3 flex flex-wrap items-center justify-end mr-0 lg:mr-4" id="nav-content">
            <a href="https://github.com/rijalBinHusen">
            Github
               <Icon name='fa-brands:github' width="18" class="inline" />
            </a>
        </div>
     </div>
  </nav>