---
   import { Icon } from "astro-icon";
   const navs = [
      { title: 'Home', route: '/', icon: 'mdi:home'},
      { title: 'Blog', route: '/blog', icon: 'fa-brands:blogger'},
      { title: 'Github repo', route: '/projects', icon: 'fa-brands:github'}
   ]
   
   const currentPath = Astro.url.pathname.split('/')[1];
---
<script>
   import { isMobile } from "../utils/isMobile"
   import { toggleElement } from "../utils/toggleElement";

   // navigations title
   const navigations = document.querySelectorAll('.navigation-title')
   // header of nav
   const header = document.querySelector('#header')

   const showNavigationTitle = (bool: boolean) => {
      // JIka mobile sembunyikan #github-button dan #navigation tampilkan menu-toggle
      if(bool) {
         // show navigation title
         navigations.forEach((elm: HTMLElement) => {
            toggleElement(elm, true)
         })
         
         header.classList.remove('bottom-4')
         header.classList.add('top-4')
      } else {
         // this is mobile
         // hide navigation title
         navigations.forEach((elm: HTMLElement) => {
            toggleElement(elm, false)
         })
         header.classList.add('bottom-4')
         header.classList.remove('top-4')
      }
   }

   const checkScreen = () => {
      isMobile()
         ? showNavigationTitle(false)
         : showNavigationTitle(true)
   }
   
   // run the mobile device detector
   checkScreen()
   window.addEventListener('resize', checkScreen)

</script>
   <nav id="header" class="flex justify-center w-full">
      <ol class="navigations flex items-center justify-center text-base text-black pt-4 pt-0">
            {navs.map((nav) => (
            <li>
               <a 
                  href={nav.route} 
                  class={`
                           inline-block 
                           no-underline 
                           hover:text-pink-300 
                           font-medium text-lg 
                           py-2 px-4 lg:-ml-2
                           ${'/'+currentPath === nav.route 
                              ? 'active' 
                              : ''}
                        `}
               >
                  <span class="navigation-title hidden">
                     {nav.title}
                  </span>
                  <Icon name={nav.icon} width="18" class="inline" />
               </a>      
            </li>
         ))}
      </ol>
   </nav>
  <style>
   #header {
      /* max-width: 400px; */
      /* bottom: 40px; */
      right: auto;
      left: auto;
      position: fixed;
      overflow: hidden;
      z-index: 1;
   }

   .navigations {
      background-color: white;
      border: solid salmon 1px;
      margin: 0.5rem 0 0.5rem 0;
      padding: 0.1rem 2rem 0.1rem 2rem;
      box-shadow: 0px 5px pink;
      box-decoration-break: clone;
   }

   .active {
      color: crimson;
   }
  </style>