---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>    
    <Navbar />
    <main class="flex justify-center w-full container" >
        <slot />  
    </main>
    <Footer />
</div>
</body>
</html>

<style>
    .link {  margin-right: 1rem;}
    .container {
        min-height: 30vh;
    }
</style>
