---
import Navbar from '../components/Navbar.astro';
---
<div>    
    <Navbar />
    <main class="flex justify-center">
        <slot />  
    </main>  
</div>

<style>
    .link {  margin-right: 1rem;}
</style>
